@import "../../styles/themes/theme.scss";
  .main-block{
    background-color: $left_side_background;
    width: 500px;
    height: 330px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    
  }
  .Sign-in-to-continue {
    width: 282px;
    height: 30px;
    font-size: 30px;
    // font-weight: bold;
    // font-stretch: normal;
    // font-style: normal;
    // line-height: normal;
    // letter-spacing: normal;
    color: $primary_theme_color;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 110px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    p{
      font-weight: bold !important;
    }
  }
  .To-sign-in-with-Goog {
    width: 372px;
    height: 18px;
    font-family: ITCAvantGardeStd-Bk;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $primary_theme_color;
    text-align: center;
    position: absolute;
    top: 155px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .button {
    width : 40%;
    border: solid 1px $primary_theme_color;
    background-color: $primary_theme_color;
    border: none;
    color: $primary_background;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    font-family: ITCAvantGardeStd-Demi;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.95;
    letter-spacing: normal;  
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    top: 225px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .vthink-image{
    width: 88px;
    height: 30px; 
    position: absolute;
    top: 30px;
    right: 30px; 
    img{
      width: 80px;
    }
  }