$nav_bar_background: rgb(74, 74, 74); //#4a4a4a
$primary_background: rgb(255, 255, 255); //#fff
$secondary_background: linear-gradient(233deg, #f9a5a53b, #efefef);
$left_side_background: rgb(255, 255, 255); //#fff
$right_side_background: linear-gradient(233deg, #f9a5a53b, #efefef);

// Hover theme Color
$hover_theme_color: rgb(238,0,29);

// Font Color
$primary_font_color: rgb(255, 255, 255); //#fff
$secondary_font_color: rgb(74, 74, 74); //#4a4a4a
$tertiary_font_color: rgb(50, 92, 2); //#325c02
$fourth_font_color: rgb(238, 0, 29);//#EE001D
$fifth_font_color: rgb(151,151,151); //#979797
$gradient_font_color: linear-gradient(to right, #4a4a4a 25%, $hover_theme_color 100%);
$gradient_font_color2: linear-gradient(to right, #4a4a4a 23%, $hover_theme_color 60%);

// Theme Color
$primary_theme_color: rgb(74, 74, 74); //#4a4a4a
$secondary_theme_color: rgb(238, 0, 29);//#EE001D
$tertiary_theme_color: rgb(151,151,151); //#979797


$select_module_background_color: rgb(249,242,243); //#f9f2f3



// Border Color
$border_color: rgb(238,0,29); //#ee001d
$secondary_border_color: rgb(216, 216, 216); //#d8d8d8

// Shadow 
$primary_shadow_colour: rgba(0, 0, 0, 0.5);
$file_upload_button_background: rgb(255, 252, 252); //#fffcfc
$attachmentview_background: rgba(74, 74, 74, 0.05);//#4a4a4a40

// saved Successfully popup
$saved_successfully_popupbackground: rgb(244, 252, 240); // #f4fcf0
$saved_successfully_border: rgb(11,99,40); //#0b6328
$current_kragoal_shadow: 0 0 10px 4px rgba(74, 74, 74, 0.15);

// Change Appraiser
$change_appraiser_background:rgba(238, 0, 29, 0.15);

// font
$primaryfont : "ITCAvantgradeStd-BK";
$secondaryfont : "ITCAvantGardeStd-Demi";