@import "././styles/themes/theme.scss";

// Cursor Style on hover
.cursor-style {
  cursor: pointer;
}

// User to set navBar color
.custom-navBar {
  background-color: $nav_bar_background;
}

// Custom button Styles
.custom-filled-btn {
  background-color: $primary_theme_color;
  border-radius: 5px;
  color: $primary_font_color;
  font-weight: bold;
  padding: 5px 25px;
  text-transform: uppercase;
  &:hover {
    background-color: $secondary_theme_color !important;
    outline: transparent;
    border-color: transparent;
    color: $primary_font_color !important;
  }
  &:focus {
    outline: none;
    background-color: $primary_theme_color;
    border-color: transparent;
    box-shadow: none;
  }
}
.custom-filled-btn:active {
  outline: transparent;
  background-color: $primary_theme_color !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.custom-bordered-btn {
  background-color: transparent;
  border-radius: 5px;
  border-color: $primary_theme_color;
  border-width: 1px;
  font-weight: bold;
  color: $secondary_font_color;
  padding: 5px 25px;
  text-transform: uppercase;
  &:hover {
    background-color: $hover_theme_color;
    outline: transparent;
    border-color: transparent;
    color: $primary_font_color !important;
  }
  &:focus {
    outline: transparent;
    border-color: transparent;
    color: $secondary_font_color;
    border-color: $primary_theme_color;
    border-width: 1px;
  }
}

// Center Div Height Set

.dashBoard-center-div {
  height: 84vh;
  overflow-y: scroll;
}

// Set Custom Propert for Container-fluid
.custom-container-fluid {
  margin-right: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-left: 0px !important;
  // overflow-y: scroll;
}
.custom-content-view-area{
  height: calc(100vh - 140px) !important;
}

// Custom hr

.custom-hr {
  margin-top: 10px;
  margin-bottom: 5px;
}

// Custom row to remove margin right and left 0
.custom-row {
  margin-left: 0 !important;
  margin-right: 0px !important;
}

// Center view container
.centerView-container {
  padding-left: 3px;
  background-image: $secondary_background;
  height: 84vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
  // overflow-y: scroll;
}

.leftSide-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: $primary_background;
  box-shadow: 0 0 4px 0 rgba(74, 74, 74, 0.4);
}

.goal-components-back-card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.selected-border-top {
  border-top: solid 4px red;
}

.hasError{
  padding-top: 10px;
  color: $fourth_font_color;
  font-size: 12px;
}
// .popover{
  .bs-popover-auto[x-placement^=top]>.arrow::after, .bs-popover-top>.arrow::after{
    border-top-color: $secondary_font_color;
  }
// }
.popover-body{
  background-color: $secondary_font_color;
  .popover-Header{
    .popover-menus{
      color: $primary_font_color;
      font-weight: bold;
      padding: 20px 10px;
    }
  }
}
// .add-emp-popup-btn{
//   margin-top: 10px;
//   border-color: transparent;
//   width: 180px;
//   // padding: 8px;
//   text-transform: 'upperCase';
// }
// .add-emp-popup-outline-btn{
//   margin-top: 10px;
//   width: 130px;
//   // padding: 8px;
//   text-transform: 'upperCase';
// }

.d-none{
  display: none;
}
.d-block{
  display: block;
}

// Uploaded File view

.uploaded-file-div{
  padding: 0px 40px;
  .uploaded-file-div{
    position: relative;
    height: 50px;
    width: auto;
    border-radius: 5px;
    border: solid 1px rgb(74, 74, 74);
    background-color: rgb(255, 252, 252);
    margin: 10px 10px;
    display: table;
    .uploaded-file{
      display: table-cell;
      vertical-align: middle;
      padding-top: 12px !important;
    }
    .close-icons{
      position: absolute;
      top: -8px;
      right: -5px;
      width: 20px;
  }
  }
}
.main-content{
  height: 100%;
  overflow-y: scroll;
  padding: 0px;
}
.body-content{
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 25px;
}
.light-label{
  color: $fifth_font_color;
}
.no-record-body{
  transform: translate(0%, 50%);
}