@import './styles/themes/theme.scss';
@font-face{
  font-family: $primaryfont;
  src: url("./assets/font/ITCAvantgradeStd-BK/ITCAvantGardeStd-Bk.eot");
  src: url("./assets/font/ITCAvantgradeStd-BK/ITCAvantGardeStd-Bk.woff") format("woff"),
  url("./assets/font/ITCAvantgradeStd-BK/ITCAvantGardeStd-Bk.ttf") format("ttf"),
  url("./assets/font/ITCAvantgradeStd-BK/ITCAvantGardeStd-Bk.svg") format("svg");  
}
@font-face{
  font-family: $secondaryfont;
  src: url("./assets/font/ITCAvantGradeStd-Demi/ITCAvantGardeStd-Demi.eot");
  src: url("./assets/font/ITCAvantGradeStd-Demi/ITCAvantGardeStd-Demi.woff") format("woff"),
  url("./assets/font/ITCAvantGradeStd-Demi/ITCAvantGardeStd-Demi.ttf") format("ttf"),
  url("./assets/font/ITCAvantGradeStd-Demi/ITCAvantGardeStd-Demi.svg") format("svg");  
}

body {
  margin: 0;
  font-family: $primaryfont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: $secondary_background;
  font-weight: lighter !important;
}
p{
  font-family: $primaryfont;
  font-weight: lighter !important;
}
h1,h2,h3,h4,h5,h6{
  font-family: $secondaryfont;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
